.container{
   background-color: rgb(227, 234, 240);
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: 100%;
   margin-top: 20px;
}
nav{
    cursor: pointer;
    color: rgb(214, 219, 223);
    padding: 10px;
}
a{
    text-decoration: none;
    transition: 1s;
    
}
a:hover{
    background-color: rgb(80, 158, 236);
    border-radius: 5px;

}
.container1{
    display:flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    margin: 20px;
    flex-wrap: wrap;
    gap: 20px;
}
img:hover{
    transition: 3s;
    transform: scale(1.1);
    cursor: pointer;
}
/*
.div1, .div2, .div3, .div4, .div5{
    margin: 10px;
    padding: 10px;
}*/

body{
    background-color: steelblue;
}
.container2{
    margin: 50px;
    padding: 50px;
    width: auto;
    height: 100%;
    text-align: center;
}
input[type=text], [type=email]{
    margin: 10px;
    width: 250px;
    height: 25px;
    border-radius: 20px;
}
input[type=text]:hover, [type=email]:hover, [type=password]:hover{
    background-color:rgba(121, 178, 231, 0.858);
}
input[type=radio]{
    margin: 10px;
}
button{
    margin-top: 20px;
    border-radius: 10px;
    width: 80px;
    height: 25px;
    cursor: pointer;
    text-decoration: none;
    
}
button:hover{
    background-color:rgb(121, 178, 231, 0.858)
}
footer{
    display: flex;
    gap: 50px;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    transform: scale(1.1);
}
p:hover{
    background-color: rgb(206, 206, 28);
}

.container3{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: white;
    margin: 30px;
    padding: 30px;
    gap: 100px;
}
.body2{
    background-color: white;
}

.first{
    font-size: 300%;
    padding: 30px;
}
.second, .third{
    padding: 20px;
    width: 30%;
    
}
input[type=date]{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    width:100px;
    height: 20px;
}
select{
    margin-bottom: 20px;
    border-radius: 12px;
}

input[type=password]{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width:200px;
    height: 25px;
}

.container4{
    display: flex;
    width:100%;
    height: 100%;
    margin: 40px;
    justify-content: flex-start;
}
.log2{
    border-radius: 20px;
    margin: 50px;
    padding: 50px;
    font-size: larger;
    height: 400px;
}

.body3{
    background-image: url(https://images.unsplash.com/photo-1424115087662-5845efc6b366?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDN8fHdlYnNpdGV8ZW58MHx8MHx3aGl0ZXw%3D&auto=format&fit=crop&w=1600);
    background-repeat: no-repeat;
}
.foot{
    justify-content: left;
    padding: 0px;
    margin-left: 70px;
}
.parent{
    display: flex;
}
.container0{
    width: 35%;
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    margin: 15px;
}
